<!DOCTYPE html>
<html>
    <head>
        <title>Weather App | About</title>
         <link rel="shortcut icon" href="/img/icon.png" type="image/png">
         <link rel="stylesheet" href="/css/style.css" />
    <body>
        <div class="main-content">
        {{>header}}
        <p>This site was created by Arlachi. It used data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/neko.png">
        </div>
        {{>footer}}
    </body>
</html>
