body {
    background: #fdf9f7;
    color: #8b4727;
    font-family: "Trebuchet MS", sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    background: #8b4727;
    color: #fdf9f7;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #b35b32;
    margin-right: 16px;
    text-decoration: none;
}
img.portrait {
    width: 250px;
}

input {
    border: 1px solid #b35b32;
    border-radius: 2px;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #b35b32;
    border-radius: 2px;
    padding: 8px;
    color: #fdf9f7;
    background: #8b4727;
}
